.btn_icon {
  font-size: 1.6rem !important;
}
.btn_icon_selected {
  color: #3f50b5 !important;
}
@media only screen and (max-width: 600px) {
  .btn_icon {
    font-size: 1.2rem !important;
  }
  .btn_icon_selected {
    font-size: 1.2rem !important;
    color: #3f50b5 !important;
  }
}
