body {
    width : 100%;
}

.hb_header_container {
    background : lightgray;
}

.hbHeader {
    padding : 10px  ;
}

.header_tool_section  * {
    margin :  0 10px ;
}

.good_wish:before {
    position : absolute ;
    left : 0 ;
    height : 100%;
    border : 2px solid gray ;

}
.good_wish:after {
    position : absolute ;
    left : 0 ;
    height : 100%;
    border : 2px solid gray ;

}

.good_wish {
    position : relative ;
    padding : 10px ;
    font-size : 20px ;
    font-weight : bold ;
    border-left : 1.5px solid gray ;
    margin-left : 10px;
    line-height : 15px;
}

.hb_logo {
    font-weight : bold ;
    font-size : 30px;
    color : orange ;
}



.header_search label {
    display  : none ;
    width : 0px;
}

.header_search_icon {
    cursor : pointer ;
}
