.main-navbar {
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1030;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    height: 60px;
  }
  .main-navbar__container {
    justify-content: space-between;
  }
  .main-navbar__container,
  .main-navbar__group,
  .main-navbar__left,
  .main-navbar__right {
    display: flex;
    align-items: center;
  }
  .main-navbar__container {
    justify-content: space-between;
  }
  .main-navbar__container,
  .main-navbar__group,
  .main-navbar__left,
  .main-navbar__right {
    display: flex;
    align-items: center;
  }
  .main-navbar__left {
    flex-basis: 50%;
  }
  .main-navbar__right {
    flex-grow: 1;
    justify-content: flex-end;
  }
  .main-navbar__logo > img {
    height: 3.5em;
  }
  .main-menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .main-menu .badge-has-new .el-badge__content {
    right: 0 !important;
    top: 5px;
  }
  .main-menu__item {
    margin-right: 2.5rem;
  }
  .main-menu__item .link {
    font-weight: 700;
    color: #9b9b9b;
  }
  .main-menu__item .link.active,
  .main-menu__item .link:hover {
    color: #0b1a33;
  }
  .user-menu__menu-item .fa {
    font-size: 1rem;
    width: 1rem;
  }
  .user-menu__menu-item .fa-sign-out-alt:before {
    content: "\f08b";
    font-size: 1.1rem;
  }
  .sb {
    position: relative;
}
.sb__input+.btn {
    top: 0;
    right: 0;
    height: 100%;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.sb-icon {
    top: 13px;
    right: 13px;
    position: absolute;
    color: #9b9b9b;
}
.sb-icon.clr {
    right: 55px;
    cursor: pointer;
}
.sb__input {
    outline: none;
    line-height: 1;
    width: 100%;
    padding: .65rem calc(45px + 1.5rem) .65rem 1.5rem;
    border-radius: 3px;
    border: 2px solid #d6d6d7;
}
.el-button--text:active {
    color: #4c7ab3;
    background-color: initial;
}
.el-button--text.is-disabled, .el-button--text.is-disabled:focus, .el-button--text.is-disabled:hover, .el-button--text:active {
    border-color: transparent;
}
.main-menu__log {
    margin-right: 0.5rem;
  }
.avatar{
  height: 1.5rem;
  weight:1.5rem;
}
body {
  background-color: #eee;
  font-family: 'Manrope', sans-serif
}

.news-card {
  border-radius: 8px
}

.news-feed-image {
  border-radius: 8px;
  width: 100%
}

.date {
  font-size: 12px
}

.username {
  color: blue
}

.news-feed-text:hover {
color: blue;
}
body {
background-color: rgb(238,240,241);
}
.sidebar{
  /* background: #2F323A; */
  margin-top: 15px;
  padding-top: 30px;
  position: fixed;
  left:0;
  width: 250px;
  height: 100%;
}
.sidebar h4{
  color: #ccc;
  margin-top:0;
  margin-bottom: 20px;
}
.sidebar a.navbar{
  color: rgb(0, 0, 0);
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar a:hover{
  background: #19B3D3;

}
.sidebar-item{
  /* background: #2F323A; */
  margin-top: 15px;
  padding-top: 30px;
  position: fixed;
  left:0;
  width: 50px;
  height: 100%;
}
.img-content{
  position: relative;
  width: 100%;
}
.img-fluid {
  max-width: 100px;
  height: auto;
}