.container {
  width: 100%;
  margin: 0 auto;
}
.inner {
  padding: 10px 16px !important;
}
.post_owner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_owner > a {
  width: 60%;
  display: flex;
  align-items: center;
}
.follow-btn {
  width: 100%;
}
.bio {
  color: rgb(119, 119, 119);
  margin: 20px 0;
  position: relative;
}
.bio::before {
  content: "";
  height: 3px;
  width: 90%;
  background-color: rgb(194, 194, 194);
  position: absolute;
  top: -12px;
}
.user-meta {
  margin-top: 20px;
  text-align: justify;
}
.user-meta h5 {
  font-size: 16px;
  text-transform: uppercase;
  color: rgb(151, 151, 151);
  margin-bottom: 0;
}
